<div class="container-fluid container_with_mb mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="solution-main-title">
        <h3 class="solution-title mb-1 pl-5 pt-2">Problem.</h3>
      </div>
      <div class="pb-card w-100 bg-white notif-show">
      <%= render 'shared/problem_card', problem: @problem %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
       <div class="col-sm-12 mb-1 pt-2">
        <div class="solution-main-title">
          <h3 class="solution-title">Solutions.</h3>
        </div>
      </div>
    </div>
    <%= render 'shared/solution_card', problem: @solution %>
      <div class="col-12 d-flex justify-content-center mt-3">
        <%= link_to(new_problem_solution_path(@problem), class:"rounded-border btn btn-outline-warning hover-white") do %>
        Add a solution
        <% end %>
      </div>
    </div>
  </div>
</div>
