<div class="banner vh-100" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'yellow.jpg' %>);">

  <div class="container text-center">
    <h1><strong>Blank.</strong> <br> brings ideas to <strong>creative people</strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "List of problems", problems_path, class:"btn btn-warning" %>
  </div>
</div>
