<div class="problem-cards-container">
  <div class="problem-card-container">
    
    <div class="problem-card-header">
      <div id="problem-card-category-image">
      </div>
      <div class="avatar-user-medium">
      </div>
    </div>
    
    <div class="problem-card-category">
      <h5 class="category-name">CATEGORY</h5>
    </div>
    
    <div class="problem-card-title">
    </div>
    
    <div class="problem-card-description">
    </div>
    
    <div class="problem-card-votes">
    </div>
    
  </div>
</div> 