<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://static1.squarespace.com/static/58323011e6f2e12eebd6f834/58e561056b8f5bd081db2cd8/59bc0fbd8a02c75c5c15deb2/1505497076722/Plasma+Dolphin.jpg?format=1000w);">
  <div class="container d-flex h-100 justify-content-between flex-column">
    <div class="text-container">
      <h1>Bring ideas to creative people...</h1>
    </div>
    <h2 class="ml14">
      <span class="text-wrapper">
        <%= link_to(problems_path, style:"text-decoration:none; color:white;") do %>
        <span class="letters">Explore now</span>
        <span class="line"></span>
        <% end %>
      </span>
    </h2>
    <section id="section04" class="demo">
      <a href="#carousel"><span></span></a>
    </section>
  </div>
</div>
