.banner {
  height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner .text-container {
  padding-top: 70px;
}

.banner h1 {
  padding-left: 20px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  padding-left: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn {
  margin-left: 8px;
  margin-top: 30px;
  color: white;
  opacity: .7;
  font-size: 28px;
}

.banner .btn:hover {
  margin-left: 10px;
  color: white;
  opacity: 1;
  font-size: 36px;
}

.btn-home-page {
  text-align: center;
}
.btn-home-page a {
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.btn-home-page a:hover {
  color: white;
  text-decoration: none;
  padding : 0 0 2px 10px;
  border-bottom : 4px solid $yellow;
}

#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-15px, 15px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-15px, 15px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
