.yellow-lined-button {
 color:#F7B543;
 padding: 20px;
 width: 150px;
 border: 3px solid #F7B543;
 border-radius: 30px;
 font-size: 1.1em;
 float: right;
}

.yellow-filled-button{
 color: white;
 background-color:#F7B543;
 padding: 20px;
 border-radius: 30px;
 width: 150px;
 font-size: 1.1em;
 border: none;
}

.grey-lined-button {
 color:#878686;
 padding: 20px;
 width: 150px;
 border: 3px solid #878686;
 border-radius: 30px;
 font-size: 1.1em;
}
