.card-solution {
  border-radius: 12px;
  background: white;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  border-radius: 8px;
}

.visible-scrollbar {
  width: 95%;
  height: 40px;
  FLOAT: left;
  margin-bottom: 2px;
  padding: 1%;
  overflow: scroll;
  font-size: 11px;
}

.card-solution-profile h4 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.card-solution-profile p {
  font-size: 8px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.card-solution-description h3 {
  font-size: 13px;
}

.rounded-border {
  border-radius: 16px;
}
