.rounded-border {
  border-radius: 16px;
}

.img-category {
  width: 120px;
  height: 120px;
}

.avatar-medium {
  height: 60px;
}

.pb-card {
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  padding: 35px;
  margin-top: 30px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .pb-card h3 {
    border-top: 2px solid #8c8c8c;
    border-bottom: 2px solid #8c8c8c;
    padding: 12px;
    margin-bottom: none;
    font-size: 1rem;
    }

  .pb-card a{
    color: #F7B543;
  &:hover{
        text-decoration: none;
        color: #8c8c8c;
      }
  }

  .pb-card h4 {
    padding: 5px;
    font-size: 1.2rem;
    font-family: "Roboto Mono";
    color: #808080;
    margin-top: 10px;
  }

  .pb-card p {
    padding: 0px;
    padding-top: 0px;
    text-align: justify;
    margin-bottom: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color:black;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 3;
    // line-height: 20px;
    // max-height: 16*6;

  }

.pb-card-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

  .pb-card-user img {
    width: 60px;
    margin-bottom: 8px;
  }

  .pb-card-user p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}


.pb-card-category {
  width: 85px;
  height: 85px;
  margin-left: 10px;
  border-radius: 5px;
}

.pb-card-votes{
  color: #8c8c8c;
  margin-left: 20px;
}

// .card-solution-description{
//   padding-top: 3px;
//   padding-bottom: 20px;
//   padding-left: 0px;
// }

.h-95 {
  height: 95%;
}
.hovering {
  transform: scale(0.98);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }
}
