.container-filters {
  width: 100%;

  .form-group {
  margin: 0 0 5px 0;
  }
  .form-control {
  height: 34px;
  font-family: "Roboto Mono", "monospace";
  font-size: 16px;
  }
  .btn-filters {
  font-family: "Roboto Mono", "monospace";
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: #494949;
  opacity: .7;
  transition: background 0.3s ease;
  }
  .btn-filters:hover {
  opacity: 1;
  }
}
