/*Buttons */
.rounded-border {
  border-radius: 16px;
}
/*Login */
.form-container {
  border: 1px solid #CED4DA;
  border-radius: 8px;
  text-align: center
}
.form-container h1{
  font-family: Roboto;
  text-transform: uppercase;
}
.roboto {
  font-family: Roboto;
}

.form-container {
  display: flex;
  height: 600px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

