/*Buttons */
.rounded-border {
  border-radius: 16px;
}
/*Login */
.form-container {
  border: 1px solid #CED4DA;
  border-radius: 8px;
  text-align: center
}
.form-container h1{
  font-family: Roboto;
  text-transform: uppercase;
}
.roboto {
  font-family: Roboto;
}
