.form-input-text-large {
  background: #C4C4C4;
  border-radius: 5px;
  height: 100px;
  color: white;
  padding: 8px;
  width: 80%;
  height: auto;
  margin: 2% 0;
}

.form-input-text-medium {
  background: #C4C4C4;
  border-radius: 5px;
  height: 70px;
  color: white;
  padding: 8px;
  width: 80%;
  height: auto;
  margin: 2% 0;
}

.form-input-text-small {
  background: #C4C4C4;
  border-radius: 5px;
  height: 20px;
  color: white;
  padding: 8px;
  width: 80%;
  height: auto;
  margin: 2% 0;
}
