.card-my-profile-dashboard {
	border: 2px solid $yellow;
    border-radius: 10px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-my-profile-dashboard p {
	font-size: 20px;
}

.emoji-solution {
	font-size: 40px;
}



