.navbar-lewagon {
  justify-content: space-between;
  background: #FFB934;
  opacity: 0.8;
  z-index: 1000;
}

.navbar h1 {
  font-size: 24px;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
    font-size: 14px;
  }
  .navbar-brand img {
    width: 20px;
  }
}

.nav-item:hover {
  opacity: 1;
}

.nav-item a {
  // padding: 15px;
  text-decoration: none;
  color: black;
  // text-transform: uppercase;
  margin: 0 10px;
}
.nav-item a,
.nav-item a:after,
.nav-item a:before {
  transition: all .5s;
}
.nav-item a:hover {
  color: red;
}


/* stroke */
.nav-item a  {
  position: relative;
}
.nav-item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
.nav-item a:hover:after {
  width: 100%;

}
