.navbar-lewagon {
  justify-content: space-between;
  background: #FFB934;
  opacity: 0.8;
  z-index: 1000;
}

.navbar h1 {
  font-size: 24px;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
  font-size: 14px;
  }
  .navbar-brand img {
  width: 20px;
  }
}
