.navbar-lewagon {
  justify-content: space-between;
  background: #ECECEC;
  opacity: 0.8
}

.navbar h1 {
  font-size: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
  font-size: 14px;
  }
  .navbar-brand img {
  width: 20px;
  }
}
