.hovering .notification {
  top: 34px;
  left: 44px;
  border-radius: 50rem;
  background-color: #FD1015;
  color: white;
  font-size: 8px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
  font-weight: bold;
  text-align: center;
  padding: 0rem .5rem;
  font-size: 1rem;
  line-height: 1.5;
}

// #homepage-cards .notification {
//   top: 66px;
//   left: 59px;
//   border-radius: 50rem;
//   background-color: #FD1015;
//   color: white;
//   font-size: 8px;
//   box-shadow: 0 16px 40px rgba(0,0,0,0.12);
//   font-weight: bold;
//   text-align: center;
//   padding: 0rem .5rem;
//   font-size: 1rem;
//   line-height: 1.5;
// }

// .notification-show {
//   top: 7px;
//   left: 249px;
//   border-radius: 50rem;
//   background-color: #FD1015;
//   color: white;
//   font-size: 8px;
//   box-shadow: 0 16px 40px rgba(0,0,0,0.12);
//   font-weight: bold;
//   text-align: center;
//   padding: 0rem .5rem;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

