.main-title-big {
  font-family: Courier New;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  margin: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: black;
}

.main-title-medium {
  font-family: Courier New;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: black;
}

.second-title-grey {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 2px;
  display: flex;
  align-items: center;
  color: #5F5F5F;
}
